img{
    max-width: 100%;
}
header .social-panel a{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #435a6f;   
    border-radius: 15px;
    display: inline-block;
}
.social-list{
    width: 30%;
    display: none;
}
.social-list .fa{
    line-height: 30px;
    color: #435a6f;
    transition: 1s ease-in;

}
.social-list a{
    transition: 1s ease;

}
.social-list a:hover{
    background: #fff;

}
.social-list a:hover .fa{
    color:#000;

}

.user-log a {
    display: inline !important;
    border: none !important;
    color:#435a6f ;
}
.user-log p{
    display: inline !important;
    padding-left: 10px;
}
.user-log a .fa{
    font-size: 14px;
    width: 30px;
    line-height: 30px;
    border: 1px solid #435a6f;
    border-radius: 30px;
    height: 30px;
}
.user-log li{
    margin-right: 5px;
}
.user-log li:last-of-type a{
    border-left: 1px solid #ececec !important;
    width: inherit;
    padding-left: 10px;
    border-radius: 0px;
}

.search .in-active{
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    transition: 1s ease;
    background: rgba(255,255,255, 0.3);
    border: 1px solid #fff;
    padding: 2px 10px;
}
.search .in-active:focus{
    background: rgba(255,255,255, 1);
}
.search .active{
    width: 200px;
    visibility: visible;

}
.navbar-brand{
    display: block;
    position: relative;
    margin-bottom: 40px;
    width: 80%;
    margin-top: 10px;
}
.navbar-brand img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo-panel .col-md-6{
    display: none;
}

.social-panel{
    padding-top: 10px;

}
.social-background{
    background: #252f38;
}
.logo-panel{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.logo-panel a{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #10bcf4;   
    border-radius: 25px;
    display: inline-block;
}

.shop-cart{
    padding-top: 10px;
}
.shop-cart .fa{
    line-height: 40px;
    color: #10bcf4;
    font-size: 18px;
}
.shop-cart p{
    display: inline-block;
    padding-left: 5px;
}


.list-inline > li{
    padding: 0 0 0 0 ;
}
.call-us p{
    margin-bottom: -10px;
}
.call-us .fa{
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #10bcf4;   
    border-radius: 25px;
    display: inline-block; 
    position: relative;
    top: 10px;
    line-height: 40px;
    color: #10bcf4; 
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* Grow Rotate */
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
/* Underline Reveal */
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #10bcf4;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.call-us a{
    padding-left: 26px;
}
.site-mail{
    border: none !important;
    color: #cfcfcf;
}

nav a{
    border: none;
}
nav > div{
    background: white;
    border: none;
}
.navbar{
    border: none; 
}

.navbar-nav li a{
    font-weight: 600;
    font-size: 14px;
}
.collapse ul li a{
    padding: 20px 25px;
}
/*----------END OF HEADER CSS----------*/
.bx-wrapper img{
    width: 100%;
}
.slider{
    margin-top: -20px;
    opacity: 0.8;
}
.analyse-goal{
    padding-top: 80px;
}
.analyse-goal .events{
    color: white;
    padding: 0px;

}
.events article{
    height: 170px;
    background: #10bcf4;
}
.events div{
    padding-top: 35px;

}
.analyse-goal .goal img{
    width: 135px;
    height: 135px;
}

.analyse-goal .goal div{
    display: inline-block;
    width: 70%;

}

.goal{
    color: white;
    background: black;
    padding-top: 10px;
    height: 170px;
}
.goal h3{
    color: blue;
}
/*--------------END OF ANALYSE GOAL SECTION--------------*/
.training{
    margin-top: 40px;
}

.training .col-md-4 img{
    height: 55px;
    width: 55px;
}
.rossalina article, .elizabeth article{
    border: 1px solid #ececec;
}
.rosalina figure, .elizabeth figure{
    display: inline;
}
.rossalina figure img, .elizabeth figure img{
    width: 100%;
    height: 300px;
}

.elizabeth{
    margin-top: 5px;
}

.training h3{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}
.training .col-md-4 figure{
    display: inline-block;
}
.training .fa{
    color: #10bcf4;
}
.training p{
    font-size: 14px;
}
.control{
    padding-left: 20px;
    border-right: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.training .col-md-8 a:hover{
    color: #10bcf4;
}
.training .col-md-4 p{
    font-weight: 500;
    color: #10bcf4;
}

.training .col-md-4 a{
    font-weight: 500;
}
/*----------END OF TRAINING SECTION--------------*/
/*Classes slide*/

.slide-img{
    position: relative;
    padding: 5px;
    text-transform: uppercase;
}
.slide-img .hover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}
.slide-img .hover:hover .carousel-icon{
    background: black;
    opacity: 0.8;
}
.owl-carousel .owl-item img {
    width: auto;
}

.slide-img .carousel-icon{
    position: relative;
    border:1px solid #ccc;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #10bcf4;
    padding-top: 20px;
}
.slide-img .carousel-icon img{
    max-width: 150px;
    height: 50px;   
    display: inline-block;
    padding-top: 0px;
}
.slide-img .boxing{
    width: 30px !important;
    height: 50px !important;
}
.slide-img a{
    text-decoration: none;
}
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}
/*-------END OF CLASSES SLIDE------------*/
.slider-list{

    padding-top:  20px;
    padding-bottom: 20px;
    background: #f7f7f7;
    overflow: hidden;
}
.classes-slide{
    background: #f7f7f7;
    margin-top: 50px;
}
.teachers h3{
    color: white;
    font-weight: 700;
}
.teachers span{
    color: #139ecd;
}

.teacher-1,.teacher-2, .teacher-3{
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    opacity: 0.7;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 150px 40px 20px 40px;
}
.teachers p{
    padding-top: 15px;
    padding-bottom:  80px;
    color: white;
}

.teachers a .fa:hover{
    color: #139ecd;
    border: 1px solid #139ecd;
}
.teachers a{
    margin-left: 20px;
}
.teachers a .fa{
    color: white;
    border: 1px solid white;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.teacher-img, .teachers img{
    height: 501px;

}
.teacher-img:hover .teacher-1,.teacher-img:hover .teacher-2,
.teacher-img:hover .teacher-3{
    display: block;
}
/*--------END OF TEACHERS -----*/
.shop{
    background: #252f38;
}
.shop img{
    padding: 0px;
    width: 340px;
    height: 250px;
}
.shop figure{
    background: white;
    padding-top: 10px;
    position: relative;
}
.shop .col-md-4 div{
    background: white;
    padding: 10px 10px;
}
.shop .col-md-4{
    margin-top: 20px;
    padding-bottom: 40px;
}
.shop p, .shop h4{
    color: #252f38;
}
.zoom-palet{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:-20;
    opacity: 0;
    padding: 0px; 
    transition: 1s ease;
}
.zoom-palet a{
    background: #1a93ba;
    display: block;
    width: 40px;
    height: 40px;


}
.zoom-palet a:last-of-type{
    margin-top: 10px;
}
.zoom-palet a .fa{
    color: white;
    line-height: 40px;
    font-size: 24px;
    transition: 0.5s ease;
}
.zoom-palet a:hover .fa{
    transform: scale(1.1);
}
figure:hover .zoom-palet{
    opacity: 1;
    z-index: 20;
}
/*---------END OF SHOP SECTION-------------*/
.blog{
    margin-bottom: 40px;
}
.blog h2{
    padding-top: 50px;
}
.blog figure img{
    display: block;
    width: 100%;
}
.blog article{
    border: 1px solid #ececec;

}
 .control-a{
    display: inline-block;
    background-color: #10bcf4;
    padding: 15px 30px;
    color: white;
    text-decoration: none !important;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #10bcf4;
}

.blog .blog-text{
    padding: 15px;
}

.blog span a{
    padding: 0px;
    color: #10bcf4;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;  
}
.blog h3{
    font-size: 22px;
}
/*-------END OF BLOG SECTION---------*/

footer{
    background: #252f38;
}
footer p{
    color: #d4d5d6;
    width: 85%;

}
footer article{
    border-left: 1px solid #2c3945;
    margin-bottom: 50px;
    height: 320px;
}
footer h4{
    border-bottom: 1px solid #2c3945;
    display: inline-block;
    padding-bottom: 10px;
    padding-left:  15px;
}
footer .social-list a{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #435a6f;   
    border-radius: 15px;
    display: inline-block;
}
footer .social-list{
    width: auto;
    margin-left: 0px;
    padding: 10px;  
}
footer .input-group{
    margin-left: 12px;
}
footer input{
    padding: 9px;
    color: white;
    background: inherit;
    border:1px solid #435a6f;
    width: 70%;
}
footer button{
    padding: 10px;
    position: relative;
    left: -5px;
    border: none;
    background: #10bcf4;
    color: white;
}
footer section{
    padding: 10px;
}
.input-group p{
    padding: 12px;
}
.footer-section{
    padding-top: 45px;
}
footer p span{
    color: #10bcf4;
}
footer a{
    color: white;
}
/*-----END OF FOOTER SECTION-------------*/

.intro{
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 250px;
    margin-bottom: 50px;
}
.my-breadcrumb .inactive{
    cursor: text;
}
.intro>div{
    background: black;
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    padding-top: 70px;

}
.intro div:last-of-type{

    position: relative;
}
.intro div:last-of-type h2{
    color: white;
}
.intro div:last-of-type a{
    color: #10bcf4;
    padding: 10px;
    text-decoration: none;
}
.intro div:last-of-type span{
    padding: 10px;
}
/*-------ABOUT ME------------*/
.about-me h3{
    color: black; 
    padding-top: 120px;
}
.about-me p{
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding-top: 80px;
}
.about-me .teachers a{
    margin-left: 0px;
}
/*----CLASSES PAGE---------*/
.classes-page .col-md-6{
    margin-bottom: 50px;
}
/*-----CONTACT PAGE-----*/
.contac-form{
    margin-bottom: 40px;
    margin-top: 40px;
}
.contac-form .col-md-8 article{
    border-left: 1px solid #ececec;
    padding-left: 25px;
}

.contac-form .col-md-4 .fa{
    color: #10bcf4;
    padding-right: 10px;
}
.contac-form .col-md-4 span{
    color: black;
    font-weight: 600;
}
.contac-form .col-md-4 section{
    padding-top: 30px;
}
.contac-form .col-md-8 textarea{
    resize: none;
    border-radius: 0px;
    margin-top: 20px;
    padding-top: 15px;
}
.contac-form .col-md-8 p{
    display: inline-block;

}
.contac-form .col-md-8 section{
    margin-top: 20px;
}
.contac-form .col-md-8 button{
    float: right;
    padding: 10px 15px;
    background-color: #10bcf4;
    color: white;
    border: 1px solid #10bcf4;
    transition: 1s ease;
}
.contac-form .col-md-8 button:hover{
    background: white;
    color: #10bcf4;

}
.contac-form .col-md-8 span{
    width: 15px;
    border: 1px solid #2c3945;
    border-radius: 10px;
    background: #2c3945;
    margin-right: 5px;
}
.contac-form .col-md-8 .fa{
    color: white;
    text-align: center;
}
.contac-form .col-md-8 input{
    border-radius: 0px;
    margin-top: 20px;
    padding: 15px;
    height: auto;
}
/*------PRODUCT PAGE CSS-------*/
.products-page{
    margin-bottom: 40px;
}
.products-page .col-md-4{
    margin-top: 20px;
}
.products-page .col-md-4:nth-of-type(4),.products-page .col-md-4:nth-of-type(7){
    clear: both;
}
.products-page article{
    border: 1px solid #ececec;
    height: 280px;
    max-width: 450px;
    margin: 0 auto;
}
.products-page article img{
    max-height: 200px;
    width: 100%;
    padding: 10px;
}
.products-page span{
    color: #10bcf4;
}
.products-page .zoom-palet{
    position: absolute;
    top: 10px;
    right: 25px;
    z-index:-20;
    opacity: 0;
    padding: 0px; 
}


/*-------PAGINATION SECTION-----*/
.pagination li a{
    margin-right: 10px;
}
.pagination li a:hover{
    background: #10bcf4;
    color: white;
}
.pagination li:nth-of-type(4) a{
    border: none;
}
.pagination li:nth-of-type(4) a:hover{
    border: none;
    background: none;
    cursor: default;
}
.pagination li:nth-of-type(3) a{
    border-right: 1px solid #ddd;
}
/*-----BLOG SECTION-------*/
.blog-panel article{
    border: 1px solid #ececec; 
    margin-bottom: 20px;
    position: relative;
}

.blog-panel .col-md-9 img{
    width: 100%;
}
.blog-panel .col-md-9 p{
    padding: 10px;
}
.blog-panel .col-md-9 span{
    color: #10bcf4;
}
.blog-panel .col-md-9 span .fa{
    color: #ececec;
}

.blog-panel .col-md-9 section{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #10bcf4;
    width: 50px;
    height: 50px;
}
.blog-panel .col-md-9 section .fa{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}
.blog-panel .col-md-9 div:nth-of-type(2){
    border: 1px solid #ececec;
    border-bottom: none;
    padding: 10px;
    border-left: none;
}
.blog-panel .col-md-9 div:nth-of-type(2) span{
    padding-left: 5px;
}
.blog-panel .col-md-9 div:nth-of-type(2) i{
    padding-left: 10px;
}
.blog-panel .col-md-9 div:nth-of-type(2) i:first-of-type{
    padding: 0px;
}
.blog-panel .pagination li a{
    margin-right: 10px;
}
.blog-panel  .pagination li:last-of-type a{
    margin: 0px;
}
.blog-panel .col-md-3 .designer-picture img{
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 100%;
}
.blog-panel .col-md-3 .designer-picture{
    max-width: 150px;
    margin: 0 auto;
    padding-top: 30px;
}
.blog-panel .col-md-3 div.text-center{
    padding: 10px;
}

.blog-social {
    list-style: none;   
    display: table;
    table-layout: fixed;
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
}
.blog-social  li{
    display: table-cell;
    text-align: center;
    border: 1px solid #ececec;
    border-bottom: none;
    border-right: none;
}
.blog-social  li:first-of-type{
    border-left: none;
}
.blog-social  li a{
    display: block; 
    padding: 10px;
    color: black;
    font-size: 16px;

}
.blog-categories h3{
    color: #10bcf4;
}
.blog-categories section{
    border-bottom: 1px solid #ececec;
    padding: 10px;
    position: relative;
}
.blog-categories ul{
    list-style: none;
    padding: 0px;
}
.blog-categories ul li{
    padding: 10px;
    border-bottom: 1px solid #ececec;
}
.blog-categories ul li:last-of-type{
    border-bottom: none;
    padding-bottom: 30px;
}
.blog-categories ul li p{
    color: #10bcf4;
}
.blog-categories ul li .fa{
    color: #10bcf4;
    padding-right: 5px; 
}
.blog-categories ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.top-related section{
    border-bottom: 1px solid #ececec;
    padding: 10px;
    position: relative;
}
.top-related h4{
    color: #10bcf4;
}
.blue-box{
    width: 25px;
    height: 20px;
    background: #10bcf4;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0,-50%);
}
.top-related figure{
    display: inline-block;
}
.top-related figure img{
    max-width: 75px;
    height: 75px;   
    border-radius: 0%;
}
.top-related div div{
    display: inline-block;
    max-width: 60%;
    padding-top: 0px;
}
.top-related div div span{
    color: #10bcf4;
}
.top-related h5{
    margin-top: 0px;
    color: black;
}
.top-related div{
    padding: 10px;
}
.top-related .top-posts{
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    padding-left: 0px;
    margin-left: 10px;
    padding-right: 0px;
    margin-right: 10px;
}
.top-related .top-posts:last-of-type{
    border-bottom: none;
}
.adds{
    position: relative;
}
.adds figure{
    height: 300px;

}
.adds img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.adds div{
    background: black;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.tag-cloud div{
    padding: 10px;
}
.tag-cloud section{ 
    border-bottom: 1px solid #ececec;
    position: relative;
    padding: 10px;
    color: #10bcf4;
}
.tag-cloud .tag-small{
    width: 30%;
    margin-right: 5%;
}
.tag-cloud .tag-small,.tag-cloud .tag-big{
    border: 1px solid #ececec;
    display: inline-block;
    margin-bottom: 10px;
    color: black;
}
.tag-cloud .tag-small:hover,.tag-cloud .tag-big:hover{
    border: none;
    background: #10bcf4;
    color: white;
    transition: 0.5s ease;
}
.tag-cloud .tag-big{
    width: 60%;
}
.tag-cloud .text-center{
    margin-bottom: 30px;
    margin-top: 20px;
}
/*-----BLOG SINGLE----*/
.blog-single-page article{
    border: 1px solid #ececec; 
    margin-bottom: 20px;
    position: relative;
}

.blog-single-page .col-md-9 img{
    width: 100%;
}
.blog-single-page .col-md-9 p{
    padding: 10px;
}
.blog-single-page .col-md-9 span{
    color: #10bcf4;
}
.blog-single-page .col-md-9 span .fa{
    color: #ececec;
}

.blog-single-page.col-md-9 section{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #10bcf4;
    width: 50px;
    height: 50px;
}

.blog-single-page .pagination li a{
    margin-right: 10px;
}
.blog-single-page .pagination li:last-of-type a{
    margin: 0px;
}
.blog-single-page .col-md-3 .designer-picture img{
    display: block;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.blog-single-page .col-md-3 .designer-picture{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;

    overflow: hidden;
    position: relative;

}
.blog-single-page .col-md-3 div.text-center{
    padding: 10px;
}

.blog-single-page .social{
    margin-bottom: 0px;
}
.blog-single-page .col-md-9 ul.social a{
    margin-right: 10px;
    color: black;
}
.media-left a{
    width: 64px;
    height: 64px;
    display: inline-block;
}
.blog-single-page .col-md-9 ul span{
    color: black;
}
.blog-single-page .col-md-9 article article{
    padding:10px;
    margin-bottom: 0px;
    border: none;
    border-top: 1px solid #ececec;
}
.read-articles section{
    width: 85%;
    margin: 0 auto;
}
.read-articles figure{
    overflow: hidden;
    padding: 0;

}
.read-articles figure img{
    transition: 1s ease;

}
.read-articles figure:hover img{
    transform: scale(1.1);
}
.read-articles{
    padding: 15px;
}

.comments{
    padding: 0 15px;
}

.comments h4{
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px; 
    display: inline-block;
    margin-right: 10px;
}
.comments h4 span{
    border-left: 1px solid
}
.comments .col-md-2 figure{
    padding: 10px;  
    height: 100px;
    width: 100px;
    position: relative;
} 
.comments .col-md-2 figure img{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 100%;
}

.comments .media-body span{
    color: #10bcf4!important;
}
.ratings-reply{
    list-style: none;
    margin: 10px;   
}
.ratings-reply li:first-of-type{
    margin-right: 5px;  
}
.ratings-reply li:last-of-type{
    margin-right: 10px;
    border-left: 1px solid #ececec;
    padding-left: 10px;
    line-height: 10px;
}
.ratings-reply a, .ratings-reply i{
    color: black!important;
}

.comments-form figure{
    width: 64px;
    height: 64px;
    display: inline-block;  
}
.comments-form figure img{
    max-height: 100%;
    max-width: 100%;
}
.comments-form form{
    display: inline-block;
    width: 80%;
    padding-left: 25px;
    margin-bottom: 20px;
}
.comments-form textarea{
    display: block;
    width: 100%;
    resize: none;
    padding: 10px 10px;
    background: #f0f5f5;
    border:none;
}
.comments button{
    margin-top: 20px;
    padding: 10px 30px;
    border: 1px solid #10bcf4;;
    color: white;
}
.comments button:hover{
    transition: 1s ease;
    background: white;
    color: #10bcf4;
}
.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #10bcf4;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

}
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: #10bcf4;;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}/*---------------------------------rectangle out effect---*/

.caption-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.comments section h4{
    border-right: 1px solid #ececec;
    line-height: 15px;
    padding-right: 25px;
}
.comments section p{
    padding: 0px!important;
    padding-top: 10px!important;
}
.comments form input{
    width: 49%;
    margin-bottom: 20px;
    padding: 15px 10px;
    background: #f0f5f5;
    border:none;
}
.comments-single{
    padding-top: 10px;
}

.media-body hr{
    position: absolute;
    width: 100%;
    border-color:#ececec;
    left: 0;
    margin: 0;
}