img{
    max-width: 100%;
}
header .social-panel a{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #435a6f;   
    border-radius: 15px;
    display: inline-block;
}
.social-list{
    width: 30%;
    display: block;
}
.social-list .fa{
    line-height: 30px;
    color: #435a6f;
}
.user-log a {
    display: inline !important;
    border: none !important;
    color:#435a6f ;
}
.user-log p{
    display: inline !important;
    padding-left: 10px;
}
.user-log a .fa{
    font-size: 14px;
    width: 30px;
    line-height: 30px;
    border: 1px solid #435a6f;
    border-radius: 30px;
    height: 30px;
}
.user-log li{
    margin-right: 5px;
}
.user-log li:last-of-type{
    border-left: 1px solid graytext;
    width: inherit;
    padding-left: 10px;
}

.user-log input{
    display: none;
}
.social-panel{
    padding-top: 10px;
    
}
.social-background{
    background: #252f38;
}
.logo-panel{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid graytext;
}
.logo-panel a{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #10bcf4;   
    border-radius: 25px;
    display: inline-block;
}
.shop-cart{
    padding-top: 10px;
}
.shop-cart .fa{
    line-height: 40px;
    color: #10bcf4;
    font-size: 18px;
}
.shop-cart p{
    display: inline-block;
    padding-left: 5px;
}


.list-inline > li{
    padding: 0 0 0 0 ;
}
.call-us p{
    margin-bottom: -10px;
}
.call-us .fa{
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #10bcf4;   
    border-radius: 25px;
    display: inline-block; 
    position: relative;
    top: 10px;
    line-height: 40px;
    color: #10bcf4;
}
.call-us a{
    padding-left: 26px;
}
.site-mail{
    border: none !important;
    color: #cfcfcf;
}

nav a{
    border: none;
}
nav > div{
    background: white;
    border: none;
}
.navbar{
    border: none; 
}

.navbar-nav li a{
    font-weight: 600;
    font-size: 14px;
}
.collapse ul li a{
  padding: 20px 25px;
}
/*----------END OF HEADER CSS----------*/
.bx-wrapper img{
    width: 100%;
}
.slider{
    margin-top: -20px;
    opacity: 0.8;
}
.analyse-goal{
    padding-top: 80px;
   }
.analyse-goal .events{
    color: white;
    padding: 0px;
    
}
.events article{
    height: 170px;
    background: #10bcf4;
}
.events div{
    padding-top: 35px;
    
}
.analyse-goal .goal img{
    width: 135px;
    height: 135px;
}

.analyse-goal .goal div{
    display: inline-block;
    width: 70%;
    
}

.goal{
    color: white;
    background: black;
    padding-top: 10px;
    height: 170px;
}
.goal h3{
    color: blue;
}
/*--------------END OF ANALYSE GOAL SECTION--------------*/
.training{
    margin-top: 40px;
}

.training .col-md-4 img{
    height: 55px;
    width: 55px;
}
.rossalina article, .elizabeth article{
    border: 1px solid graytext;
}
.rosalina figure, .elizabeth figure{
    display: inline;
}
.rossalina figure img, .elizabeth figure img{
    width: 100%;
    height: 300px;
}

.elizabeth{
    margin-top: 5px;
}

.training h3{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}
.training .col-md-4 figure{
    display: inline-block;
}
.training .fa{
    color: #10bcf4;
}
.training p{
    font-size: 14px;
}
.control{
    padding-left: 20px;
    border-right: 1px solid #ebebeb;
    margin-bottom: 20px;
}
.training .col-md-8 a{
    display: inline-block;
    background-color: #10bcf4;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.training .col-md-4 p{
    font-weight: 500;
    color: #10bcf4;
}

.training .col-md-4 a{
    font-weight: 700;
}
/*----------END OF TRAINING SECTION--------------*/
/*Classes slide*/

.slide-img{
    position: relative;
    padding: 5px;
    text-transform: uppercase;
}
.slide-img .hover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}
.slide-img .hover:hover .carousel-icon{
    background: black;
    opacity: 0.8;
}

.slide-img .carousel-icon{
    position: relative;
    border:1px solid #ccc;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    color: #10bcf4;
}
.slide-img .carousel-icon img{
    max-width: 150px;
    height: 70px;   
    display: inline-block;
    padding-top: 0px;
}
.slide-img .boxing{
    width: 30px !important;
    height: 80px !important;
}
.slide-img a{
    text-decoration: none;
}
.owl-nav{
        display: none;
    }
.owl-dots{
        display: none;
    }
/*-------END OF CLASSES SLIDE------------*/
.slider-list{
    
    padding-top:  20px;
    padding-bottom: 20px;
    background: #f7f7f7;
    overflow: hidden;
}
.classes-slide{
    background: #f7f7f7;
    margin-top: 50px;
}
.teachers h3{
    color: white;
    font-weight: 700;
}
.teachers span{
    color: #139ecd;
}

.teacher-1,.teacher-2, .teacher-3{
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    opacity: 0.7;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 150px 40px 20px 40px;
}
.teachers p{
    padding-top: 15px;
    padding-bottom:  80px;
    color: white;
}

.teachers a .fa:hover{
    color: #139ecd;
    border: 1px solid #139ecd;
}
.teachers a{
    margin-left: 20px;
}
.teachers a .fa{
    color: white;
    border: 1px solid white;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

.teacher-img, .teachers img{
    height: 501px;
    
}
.teacher-img:hover .teacher-1,.teacher-img:hover .teacher-2,
.teacher-img:hover .teacher-3{
   display: block;
}
/*--------END OF TEACHERS -----*/
.shop{
    background: #252f38;
}
.shop img{
    padding: 0px;
    width: 340px;
    height: 250px;
}
.shop figure{
     background: white;
     padding-top: 10px;
     position: relative;
}
.shop .col-md-4 div{
    background: white;
    padding: 10px 10px;
}
.shop .col-md-4{
    margin-top: 20px;
    padding-bottom: 40px;
}
.shop p, .shop h4{
    color: #252f38;
}
.zoom-palet{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    opacity: 0.7;
    padding: 0px;  
   
   
}
.zoom-palet a{
     background: #1a93ba;
     display: block;
     width: 40px;
     height: 40px;
     
}
.zoom-palet a:last-of-type{
    margin-top: 10px;
}
.zoom-palet a .fa{
    color: white;
    line-height: 40px;
    font-size: 24px;
}
.shop figure:hover .zoom-palet{
    display: block;
}
/*---------END OF SHOP SECTION-------------*/
.blog{
    margin-bottom: 40px;
}
.blog h2{
    padding-top: 50px;
}
.blog figure img{
    display: block;
    width: 100%;
}
.blog article{
    border: 1px solid gray;
    
}
.blog a{
    display: inline-block;
    background-color: #10bcf4;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.blog a:hover{
    background: #172535;
}
.blog .blog-text{
    padding: 15px;
}

.blog span a{
    padding: 0px;
    color: #10bcf4;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;  
}
.blog h3{
    font-size: 22px;
}
/*-------END OF BLOG SECTION---------*/

footer{
    background: #252f38;
}
footer p{
    color: #d4d5d6;
    width: 85%;
    
}
footer article{
    border-left: 1px solid #2c3945;
    margin-bottom: 50px;
    height: 320px;
}
footer h4{
    border-bottom: 1px solid #2c3945;
    display: inline-block;
    padding-bottom: 10px;
    padding-left:  15px;
}
footer .social-list a{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #435a6f;   
    border-radius: 15px;
    display: inline-block;
}
footer .social-list{
    width: auto;
    margin-left: 0px;
    padding: 10px;  
}
footer .input-group{
    margin-left: 12px;
}
footer input{
    padding: 9px;
    color: white;
    background: inherit;
    border:1px solid #435a6f;
    width: 70%;
}
footer button{
    padding: 10px;
    position: relative;
    left: -5px;
    border: none;
    background: #10bcf4;
    color: white;
}
footer section{
    padding: 10px;
}
.input-group p{
    padding: 12px;
}
.footer-section{
    padding-top: 45px;
}
/*-----END OF FOOTER SECTION-------------*/

.ooo{
     background-repeat: no-repeat;
     background-size: contain;
     width: 100%;    
     }